body {
  padding: 0;
  margin: 0;
}

/*
 *  * top level banner
 *   */

div#banner {
  padding: 0.5em 1em;
}

div#banner a, div#banner a:hover, div#banner a:visited {
  color: gray;
  font-weight: bold;
}

div#banner h1 a {
  text-decoration: none;
  font-family: "Trebuchet MS",sans-serif;
  float: left;
}

/*
 *  * microformat vmeeting
 *   */

div.vmeeting .date {
  text-align: right;
  padding: 0.2em 0.3em;
}

div.vmeeting .location {
  text-align: right;
  padding: 0.2em 0.3em;
  font-style: italic;
}

div.vmeeting .dtstart {
  visibility: hidden;
  display: none;
}

div.vmeeting .dtend {
  visibility: hidden;
  display: none;
}

div.vmeeting .url {
  visibility: hidden;
  display: none;
}

/*
 *  * navigation menu
 *   */

div#navigation {
  font-family: "Trebuchet MS",sans-serif;
  padding: 0.2em 1em;
  float: right;
}

div#navigation ul {
  margin: 0;
  padding: 0.2em;
  font-size: 1.1em;
  list-style-type: none;
  text-transform:lowercase;
}

div#navigation li {
  float: left;
  margin-left: 1em; 
}

div#navigation a, div#navigation a:hover, div#navigation a:visited {
  color: gray;
  font-weight: bold;
}

/*
 *  * registration actions
 *   */

div#registration {
  margin: 0.5em;
  text-align: right;
}

div#registration a, div#registration a:hover, div#registration a:visited {
  color: rgb(0, 10, 0);
}

/*
 *  * context actions menu
 *   */

div#actions {
  margin: 0em 0em;
  text-align: left;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  margin-bottom: 1em;
}

div#actions a, div#actions a:hover, div#actions a:visited {
  color: rgb(0, 10, 0);
}

div#actions {
  padding: 0.2em 0em;
  float: left;
}

div#actions ul {
  margin: 0;
  padding: 0.2em;
  font-size: 0.8em;
  list-style-type: none;
  text-transform:lowercase;
}

div#actions li {
  float: left;
  margin-right: 1em; 
}

/*
 *  * flashmessage area
 *   */

div#flashmessage p {
  margin: 0.2em 0 1em 0;
  text-align: center;
}

div#flashmessage p span {
  padding: 0.3em;
  border-style: solid;
  border-width: 2px;

  border-color: rgb(255, 150, 100);
  background-color: rgb(255, 230, 200);
}

div#flashmessage p span.message {
  border-color: rgb(100, 100, 255);
  background-color: rgb(200, 200, 255);
}

/*
 *  * main content area
 *   */

div#content {
  background-color: white;
  padding: 1em;
}

/*
 *  * global styling rules
 *   */

div.label {
    float:left;
    clear: left;
    margin-right: 1em;
    min-width: 9em;
}
div.field {
    min-height: 1em;
}

div.row {
    background: #eee;
    border: dotted 1px #ccc;
    margin: 1px;
}

/* program */
div.seance { 
  background-color: white;
  border: solid 1px;
  margin: 1em;
 }
div.title, div.date, div.description {
  margin: 0.5em;
  padding: 0.5em;
}
div.date {
  font-size: 85%;
  border-bottom: solid 1px;
}

