body {
  padding: 0;
  margin: 0;
  background-color: rgb(200, 255, 200);
}

/*
 * top level banner
 */

div#banner {
  padding: 0.5em 1em;
  background-color: rgb(200, 255, 200);
  color: rgb(0, 10, 0);
}

div#banner a, div#banner a:hover, div#banner a:visited {
  color: rgb(0, 10, 0);
}

div#banner h1 a {
  text-decoration: none;
  font-family: "Trebuchet MS",sans-serif;
  float: left;
}

/*
 * microformat vmeeting
 */

div.vmeeting .date {
  text-align: right;
  padding: 0.2em 0.3em;
}

div.vmeeting .location {
  text-align: right;
  padding: 0.2em 0.3em;
  font-style: italic;
}

div.vmeeting .dtstart {
  visibility: hidden;
  display: none;
}

div.vmeeting .dtend {
  visibility: hidden;
  display: none;
}

div.vmeeting .url {
  visibility: hidden;
  display: none;
}

/*
 * navigation menu
 */

div#navigation {
  font-family: "Trebuchet MS",sans-serif;
  padding: 0.2em 1em;
  float: right;
}

div#navigation ul {
  margin: 0;
  padding: 0.2em;
  font-size: 1.1em;
  list-style-type: none;
  text-transform:lowercase;
}

div#navigation li {
  float: left;
  margin-left: 1em; 
}

div#navigation a, div#navigation a:hover, div#navigation a:visited {
  color: rgb(0, 10, 0);
}

/*
 * registration actions
 */

div#registration {
  margin: 0.5em;
  text-align: right;
}

div#registration a, div#registration a:hover, div#registration a:visited {
  color: rgb(0, 10, 0);
}

/*
 * admin actions
 */

div#admin-actions {
  margin: 0.2em 0.5em;
  text-align: right;
}

div#admin-actions a, div#admin-actions a:hover, div#admin-actions a:visited {
  color: rgb(0, 10, 0);
}

div#admin-actions {
  padding: 0.2em 1em;
  float: right;
}

div#admin-actions ul {
  margin: 0;
  padding: 0.2em;
  font-size: 1.1em;
  list-style-type: none;
  text-transform:lowercase;
}

div#admin-actions li {
  float: left;
  margin-left: 1em; 
}

/*
 * flashmessage area
 */

div#flashmessage p {
  margin: 0.2em 0 1em 0;
  text-align: center;
}

div#flashmessage p span {
  padding: 0.3em;
  border-style: solid;
  border-width: 2px;

  border-color: rgb(255, 150, 100);
  background-color: rgb(255, 230, 200);
}

div#flashmessage p span.message {
  border-color: rgb(100, 100, 255);
  background-color: rgb(200, 200, 255);
}

/*
 * main content area
 */

div#content {
  background-color: white;
  padding: 1em;
}

/*
 * footer
 */

div#footer {
  padding: 0.5em 1em;
  background-color: rgb(200, 255, 200);
  color: rgb(0, 10, 0);
}

div#footer a, div#footer a:hover, div#footer a:visited {
  color: rgb(0, 10, 0);
}

/*
 * global styling rules
 */

div.label {
    float:left;
    margin-right: 1em;
    min-width: 9em;
}

div.row {
    background: #eee;
}
